/* index.css */

body {
  background: url('../public/background.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-align: center;
}

h1 {
  color: #000;
  text-align: center;
  font-size: 24px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #007bff;
}

ul li a:hover {
  text-decoration: underline;
}

.playlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.playlist-input, .playlist-select, .playlist-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.playlist-select {
  width: 220px;
}

.playlist-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.playlist-button:hover {
  background-color: #0056b3;
}
